.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 76px);
  background-color: white;

  aside {
    border-inline-end: 1px solid var(--surface-1-border-color);

    .asideToggle {
      border-block-end: 1px solid var(--surface-1-border-color);
      height: 52px;
      padding-inline: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .asideOpen {
    flex: 0 0 350px;
  }

  .asideClose {
    flex: 0 0 auto;
  }

  main {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;

    .secondChartsRow {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      column-gap: 30px;
    }

    .chartBox {
      width: 450px;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid #ccc;
    }

    .recentEvents {
      display: flex;
      flex-direction: column;
      width: 300px;
      // height: 300px;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid #ccc;
      font-family: 'Roboto', sans-serif;

      h2 {
        font-size: 20px;
        font-weight: 600;
        padding: 0;
        margin: 0;
        margin-block-end: 10px;
        color: var(--color);
      }
    }
  }
}
