.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 100px;
  padding-inline: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-block-end: 1px solid var(--surface-1-border-color);
  height: 76px;

  .logoType {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 900;
  }

  nav {
    .links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      column-gap: 20px;
      list-style: none;
      margin: 0;

      div {
        a {
          text-decoration: none;
          font-weight: 500;
          font-size: 0.9rem;
          padding: 8px 20px;
          border-radius: 50px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 7px;
          font-weight: bold;
        }
        
        .eventsBtn {
          color: hsl(var(--events-color), 25%);
          border: 1px solid hsl(var(--events-color), 66%);
          background-color: white;
          
          &:hover, &.active {
            background-color: hsl(var(--events-color), 94%);
          }
        }
        
        
        .videosBtn {
          color: hsl(var(--videos-color), 25%);
          border: 1px solid hsl(var(--videos-color), 66%);
          background-color: white;

          &:hover, &.active {
            background-color: hsl(var(--videos-color), 94%);
          }
        }
        
        .analyticsBtn {
          color: hsl(var(--analytics-color), 25%);
          border: 1px solid hsl(var(--analytics-color), 66%);
          background-color: white;

          &:hover, &.active {
            background-color: hsl(var(--analytics-color), 94%);
          }
        }
      }
    }
  }
}
