.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 100px;
  padding-inline: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-block-end: 1px solid var(--light-gray-border);
  height: 76px;

  h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: 900;
  }

  nav {
    .links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      column-gap: 40px;
      list-style: none;
      margin: 0;

      div {
        a {
          color: hsl(0, 0%, 30%);
          border: 1px solid hsl(0, 0%, 60%);
          text-decoration: none;
          font-weight: 500;
          font-size: 0.9rem;
          padding: 8px 17px;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          column-gap: 7px;
          font-weight: bold;
          
          &.active {
            color: var(--primary-color);
            border: 1px solid var(--primary-color);
            box-shadow: 0 0px 2px var(--primary-color);
          }
          &:hover {
            color: var(--primary-color);
            border: 1px solid var(--primary-color);
            box-shadow: 0 0px 4px var(--primary-color);
          }
        }
      }
    }
  }
}
