.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  column-gap: 100px;
  padding: 0.7rem 1rem;
  background-color: hsl(0, 0%, 100%);
  border-block-end: 1px solid hsl(0, 0%, 80%);
  
  h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: 900;
  }
  
  nav {
    .links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      column-gap: 50px;
      list-style: none;
      margin: 0;

      div {

        a {
          color: hsl(0, 0%, 30%);
          text-decoration: none;
          font-weight: 400;
          font-size: 0.75rem;
          padding: 7px 7px;
          
          &:hover {
            font-weight: 600;
            border-block-end: 2px solid orange;
          }
          &.active {
            font-weight: 600;
            border-block-end: 2px solid orange;
          }
        }
      }
    }
  }
}