.columnsLayout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 76px);

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem 1rem 1rem 1rem;
    height: calc(100vh - 76px);
    border-inline-end: 1px solid var(--surface-1-border-color);
    background-color: var(--primary-color);

    .icon {
      color: white;
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5rem;
    }
  }

  main {
    overflow-y: scroll;
    height: 100%;
    width: 100%;

    .texts {
      padding: 1.5rem 3rem 8rem 3rem;

      h1 {
        font-size: 3rem;
        font-weight: 500;
        margin-block: 0;
        font-family: 'Roboto Serif', serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: italic;
        font-variation-settings: 'wdth' 100, 'GRAD' 0;
      }

      .description {
        font-size: 1.6rem;
        font-weight: 300;
        margin: 0;
        padding-block: 0.3rem 1.6rem;
      }

      .details {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 2rem;

        .label {
          font-size: 1rem;
          font-weight: 500;
          margin-block: 0.3rem;
        }

        .data {
          font-size: 1.2rem;
          font-weight: 300;
          margin-block: 0.3rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: baseline;
        }

        .tag {
          border: 1px solid hsl(0, 0%, 15%);
          border-radius: 100px;
          justify-content: center;
          align-items: center;
          padding: 0px 15px 0px 10px;
          gap: 5px;
        }
      }
    }

    .mapContainer {
      padding: 1rem 3rem 6rem 3rem;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
}
