.columnTitle {
  padding: 10px 5px 10px 0px;
}

.eventLink {
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}

.eventLink:hover {
  color: var(--primary-color);
}

.eventToReview {
  background-color: hsl(0, 100%, 80%);
  border-radius: 4px;
  padding: 2px 5px;
  font-weight: bold;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;

  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid #e0e0e0;
}

.editIcon {
  transform: rotate(270deg);
  color: var(--primary-color);
}