.videoCount {
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-inline-start: 10px;
  font-weight: 400;
  font-size: 0.75rem;
  margin: 0px;
  border-block-end: 1px solid var(--surface-1-border-color);
}

.container {
  margin: 0px;
  padding: 15px 15px 0px 15px;
  overflow-y: scroll;
  height: calc(100vh - 91px - 52px);

  .videosGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 315px);
    grid-auto-rows: 1fr;
    gap: 15px;
    padding-bottom: 70px;

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }

    .video {
      width: 100%;
      background-color: white;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      border: 1px solid var(--surface-1-border-color);
      border-radius: 5px;
    }

    .video:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}
