.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 46px;

    .showMapButton {
      text-transform: none;
      width: fit-content;
      padding: 5px 15px;
      margin-bottom: 0px;
      border-radius: 50px;
    }

    .left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      column-gap: 10px;
      padding: 0px;
    }

    .right {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
      padding: 0px;
    }
  }

  .label {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }

  .inputsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .radiusFields {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
    }
  }
}

.containerHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;

    .showMapButton {
      text-transform: none;
      height: fit-content;
      min-width: 170px;
      padding: 5px 15px;
      margin-bottom: 0px;
      border-radius: 50px;
    }

    .right {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
      padding: 0px;
    }
  }

  .inputsContainer {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 80px;
    background-color: white;
    z-index: 999 !important;
    padding: 15px;

    .radiusFields {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      justify-content: flex-start;
      align-items: center;
      min-width: 30%;
      max-width: 70%;
    }
  }
}
