.pagination {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 20px;

  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: white;
  width: 100%;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.09), 0 -6px 6px rgba(0, 0, 0, 0.13);
  padding: 10px 20px;
}

.editIcon {
  transform: rotate(270deg);

  // svg {
  //   font-size: 23px;
  // }
}
