.container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 1rem 3rem 3rem 3rem;
  background-color: #f7f7f7;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        padding: 6px 20px;
        border-radius: 50px;
        border-width: 1px;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        text-decoration: none;
        text-transform: none;
      }
    }
  }

  .videosContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0 0 315px;
    gap: 15px;
    max-height: 260px;
    border-radius: 5px;
    overflow-x: auto;

    .video {
      width: 315px;
      height: 243px;
      background-color: white;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      border: 1px solid var(--surface-1-border-color);
      border-radius: 5px;
    }

    .video:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}
