.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 76px);
  background-color: white;

  aside {
    border-inline-end: 1px solid var(--surface-1-border-color);

    .asideToggle {
      border-block-end: 1px solid var(--surface-1-border-color);
      height: 52px;
      padding-inline: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .asideOpen {
    flex: 0 0 350px;
  }

  .asideClose {
    flex: 0 0 auto;
  }

  main {
    flex: 1;
    position: relative;
  }
  
  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
  
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #e0e0e0;
  }
}

