.filtersContainer {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 15px;
  padding: 15px;
  border-block-end: 1px solid var(--light-gray-border);
}
