:root {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  direction: ltr;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsl(0, 0%, 15%);
  background-color: hsl(0, 0%, 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --max-width-500: 500px;
  --light-gray-bg-border: hsl(0, 0%, 76%);
  --light-gray-border: hsl(0, 0%, 90%);

  --light-gray-bg: hsl(0, 0%, 92%);
  --button-bg-color: hsl(211, 100%, 40%);
  --primary-color: hsl(226, 100%, 50%);
  --text-hover-color: hsl(280, 100%, 50%);
}

iframe {
  border: none;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  color: black;
  /* text-decoration: none; */
}
.hidden {
  display: none;
}

.visible {
  display: block;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: hsl(0, 0%, 100%);
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  border-block-end: 1px solid var(--light-gray-border);
  box-shadow: 0px 2px 7px 0px white;
}

.event-dialog-progress-container {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
