:root {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  direction: ltr;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsl(0, 0%, 15%);
  background-color: hsl(0, 0%, 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --max-width-500: 500px;

  --surface-1-border-color: hsl(0, 0%, 93%);

  --card-border-color: hsl(0, 0%, 86%);
  --surface-selected: hsl(221, 100%, 75%);

  --light-gray-bg: hsl(0, 0%, 92%);
  --button-bg-color: hsl(211, 100%, 40%);
  --primary-color: hsl(226, 100%, 50%);
  --text-hover-color: hsl(280, 100%, 50%);
  --text-color: hsl(0, 0%, 15%);

  /* Navigation colors */
  --events-color: 235, 82%; /* hsl(235, 82%, 66%); */
  --videos-color: 200, 96%; /* hsl(200, 96%, 51%); */
  --analytics-color: 160, 62%; /* hsl(160, 62%, 54%); */
}

iframe {
  border: none;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  color: black;
  /* text-decoration: none; */
}
.hidden {
  display: none;
}

.visible {
  display: block;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: hsl(0, 0%, 100%);
}

.event-dialog-progress-container {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0px;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--text-color);
  padding-block: 1rem;
}

.High {
  border-color: hsl(0, 100%, 50%) !important;
  background-color: hsl(0, 100%, 95%) !important;
}

.Medium {
  border-color: hsl(39, 100%, 50%) !important;
  background-color: hsl(40, 100%, 95%) !important;
}

.Low {
  border-color: hsl(207, 100%, 50%) !important;
  background-color: hsl(207, 100%, 95%) !important;
}

.Active {
  border-color: hsl(120, 100%, 25%) !important;
  background-color: hsl(120, 45%, 92%) !important;
  gap: 10px !important;
  padding: 0px 12px !important;
}

.Inactive {
  border-color: hsl(0, 0%, 24%) !important;
  background-color: hsl(0, 0%, 95%) !important;
  gap: 10px !important;
  padding: 0px 12px !important;
}

.spinner-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-start: 200px;
}

.small-spinner-outer {
  padding-block-start: 0px;
}

.spinner-inner {
  border: 8px solid hsl(0, 0%, 86%);
  border-radius: 50%;
  border-top: 8px solid hsl(212, 100%, 48%);
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.small-spinner-inner {
  width: 40px;
  height: 40px;
  border: 4px solid hsl(0, 0%, 86%);
  border-top: 4px solid hsl(212, 100%, 48%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3rem;
  font-weight: 500;
  margin-block: 0;
  font-family: 'Roboto Serif', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings: 'wdth' 100, 'GRAD' 0;

  h3 {
    font-size: 3rem;
    font-weight: 500;
    margin-block: 0;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-block: 0;
  }
}