:root {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  direction: ltr;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsl(0, 0%, 15%);
  background-color: hsl(0, 0%, 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --max-width-500: 500px;
  --surface-1-border-color: hsl(0, 0%, 86%);
  --surface-2-border-color: hsl(0, 0%, 60%);

  --light-gray-bg: hsl(0, 0%, 92%);
  --button-bg-color: hsl(211, 100%, 40%);
  --primary-color: hsl(226, 100%, 50%);
  --text-hover-color: hsl(280, 100%, 50%);
  --text-color: hsl(0, 0%, 15%);
}

iframe {
  border: none;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  color: black;
  /* text-decoration: none; */
}
.hidden {
  display: none;
}

.visible {
  display: block;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: hsl(0, 0%, 100%);
}

.event-dialog-progress-container {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0px;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--text-color);
  padding-block: 1rem;
}

.High {
  border-color: hsl(0, 100%, 50%) !important;
  background-color: hsl(0, 100%, 95%) !important;
}

.Medium {
  border-color: hsl(39, 100%, 50%) !important;
  background-color: hsl(40, 100%, 95%) !important;
}

.Low {
  border-color: hsl(207, 100%, 50%) !important;
  background-color: hsl(207, 100%, 95%) !important;
}

.Active {
  border-color: hsl(120, 100%, 25%) !important;
  background-color: hsl(120, 45%, 92%) !important;
  gap: 10px !important;
  padding: 0px 12px !important;
}

.Inactive {
  border-color: hsl(0, 0%, 24%) !important;
  background-color: hsl(0, 0%, 95%) !important;
  gap: 10px !important;
  padding: 0px 12px !important;
}

.MuiBadge-badge {
  right: 8px !important;
  top: 8px !important;
}
